*{
  font-family: "Akaya Telivigala", monospace, sans-serif;
  font-size: 22px;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  text-align: center;
  background-color: palegoldenrod;
  padding: 10px 0;
}
h1{
  color: purple;
  font-size: 28px;
  padding: 8px;
  font-style: italic;
}
.container{
  width: 96%;
  max-width: 400px;
  margin: 0 auto;
  background-color: darksalmon;
  padding: 10px 5px 5px 5px;
  box-sizing: border-box;
  border-radius: 8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.container p{
  color: darkred;
  font-weight: bolder;
  padding: 5px;
  text-align: left;
}
.container span{
  color: darkslateblue;
  font-weight: bolder;
  font-size: 18px;
  text-align: right;
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Dancing Script", "Akaya Telivigala", monospace, sans-serif;
}
.btns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(30px, auto);
}
.btns button{
  padding: 8px;
  margin: 5px;
  background-color:coral;
  color: darkslategrey;
  font-style: oblique;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: bolder;
}

.btns button:first-of-type{
  grid-column: 1/1;
  grid-row: 1;
}
.btns button:last-of-type{
  grid-column: 2/4;
  grid-row: 1;
}
